

/*
Color scheme
primary grey #f7f7f7
Color hex codes: 
green dark #316117, 
light green #90b644, 
white #ffffff, 
orange #e98341, 
light blue #f2fefe. 
*/

@font-face {
            font-family: 'organic_fruitregular';
            src: url('organic_fruit-webfont.woff2') format('woff2'),
                 url('organic_fruit-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;}

#spacing {
            height:10%; width: 100%;
}
       
#accountPageItems{
        display: flex;
        flex-direction: row;
            flex-wrap: wrap;
        width: 80%;
        margin: 0 10% 0 10%;
}
/*
#container{
            width: 100%;
            height: 60%;
            align-items: center;
            margin-left: 15%;
            display: flex;
            
}
*/

/*
#left    {
            width: 20%; height: 60%;
            display: flex; flex-direction: column;
            align-items: center; justify-content: center;
}
*/
#photo{
            width:10%;
            height: auto;
            margin: 5%;
            display: block;
    
}
#headshot{
            background: headshot.jpg;
            object-fit: contain;
            border-radius:50% 50% 50% 50%;
            border: 4px solid #90b644;
            max-width: 200px; 
}

#welcomeMessage{
            font-size: 40px;
            color: #316117;
            font-family:'organic_fruitregular';
            width: 100%;
            height: 10%;
            display:flex;
            align-items: center;
            margin: 2%;
            justify-content: center;
            align-self: center;
            text-align: center;
            
}

table{
            border-collapse: separate;
            border: 1px solid #939393;
            border-radius: 7px;
            -moz-border-radius:6px;
            background-color: #f2fefe;
            color: #316117;
}

#accountTable td:first-child, th:first-child {
            border-left: none;
}

#accountTable th {
            border-top: none;
}

#accountTable td, th {           
            height: 40px;
            width: 20vh;
            border: hidden;
            text-align: center;
            border-left: 1px solid #939393;
            border-top: 1px solid #939393;
}

#accountTable td:hover{
            color: #939393;
}
#photoAndpoints{
            margin: 0 5% 0 5%;
            align-self: center;
            justify-content: center;
    
}
fieldset{
            border: hidden;
}

#recentActivity{
            height: 20%px;
            width: 40%;
            border: 7px solid #90b644;
            border-radius: 10px;
            font-size: 40px;
            color: #316117;
            min-width: 300px;
            margin: 5%;
            padding: 5%;
        }
     
@media( max-width: 500px){
    #welcomeMessage{
            font-size: 30px;
                        
}
    
    #recentActivity{

            font-size: 20px;
            min-width: 300px;

        }
}