
/*
Color scheme
primary grey #f7f7f7
Color hex codes: 
green dark #316117, 
light green #90b644, 
white #ffffff, 
orange #e98341, 
light blue #f2fefe. 
*/


@font-face {
    font-family: 'organic_fruitregular';
    src: url('organic_fruit-webfont.woff2') format('woff2'),
         url('organic_fruit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
html {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    margin: 0;
    background-color: ffffff;
}
a {
    color: #316117;
    font-weight:bold;
    text-decoration: none;
}
#title {
    font-size: 70px;
    color:  #316117;
    font-family: 'organic_fruitregular';
    width: 90%;
    height: 10%;
    text-align: center;
    padding: 5%;
    
}
#container {
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    margin: 0 10% 0 10%;
    box-sizing: border-box;
    flex-wrap: wrap;

}
/*
.row {
    display: flex;
    flex-direction: row;
}
*/
div.buttons {
      background: #f2fefe; 
      border-radius: 10px;  
      border-style:solid; 
      border-width: 7px;
      border-color: #90b644;
      width: 30%; 
      height: 20vh; 
      display: flex; align-items: center; justify-content: center;
/*      align-content: space-around;*/
      margin: 2vw;
      min-width: 200px
      
      
}

div.insides {
      margin: 5%;
      text-align: center; 
      flex-flow: column;  
}

span {  
        
        font-size: 32px; 
        margin-top: 10px; 
        font-family: 'organic_fruitregular';}

img {width: 40%; }

#location {left: 25%; top:20%;}

#code {right: 25%; top:20%}

#points {left: 25%; bottom: 20%}

#account {right: 25%; bottom: 20%}

