
/*
Color scheme
primary grey #f7f7f7
Color hex codes: 
green dark #316117, 
light green #90b644, 
white #ffffff, 
orange #e98341, 
light blue #f2fefe. 
*/

@font-face {
            font-family: 'organic_fruitregular';
            src: url('organic_fruit-webfont.woff2') format('woff2'),
                 url('organic_fruit-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;}

html    {   padding: 0; 
            margin: 0}

body    {   margin: 0px;
            width: 100%;
            background-color: #fff;}

a       {   color: #234710; 
            text-decoration:none;}

#leaf   {   width: 100px; 
            height: 100px;}

/*Div containing entire header*/
#header {
            display: flex; 
            flex-direction: row; 
            justify-content: space-between;
            
            width: 100%; 
            height: 100px; 
            background-color: #90b644;}

/*Main title*/
#gp     {    
            height:100%; 
            width: 30%; 
            
            padding-top: 10%;
            font-size: 45px;
            font-family:'organic_fruitregular';}

/*Text for header buttons(left side)*/
#text {     
            height: 100%;
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
/*            align-items: center; */
            font-family:'organic_fruitregular';
            }

#text a #input{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 13vw;
}

#text a #rewards{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 17vw; 
}

.textc {    
    font-size: 33px;
    margin: 2%
} 

/*Icons for header buttons(right side)*/
#icons {    
    width: 30%;        
    height: 100%;      
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
}  

.pic {   
    margin: 30px; 
}

#home {
    width: 40px; 
    height: auto;
}

#account {
    width: 40px;   
    height: auto;
}

/*span:hover {color:}*/

a:hover{
    color:#f2fefe; 
}

@media screen and (max-width: 1520px) {
    #text { 
        font-size: 25px;
    }  
}

@media screen and (max-width: 1000px) {
/*    #text { display:none;}*/
    #leaf { 
        height: 100px; width: 100px;
    }
}

@media screen and (max-width: 600px) {
    #leaf{
        justify-content: center;
    }
    #gp{
        font-size: 30px;
        margin-left: 10%;
        margin-top: 5%;
        display: none;
    }
    #icons { 
        display: none;
    }
    #header{
        justify-content: space-between;
        align-content: flex-end;
    }
    #text{
        width: 70%;
        text-align: right;
    }
    #text a #input{
        font-size: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 50%; 
        margin-right: 10%;
    }
    #text a #rewards{
        font-size: 25px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 50%; 
        margin-left: 10%;
    }
}
}